/*---------------------
  Trend
-----------------------*/

.trend {
    padding-top: 80px;
    padding-bottom: 50px;
}

.trend__content .section-title h4 {
    font-size: 20px;
}

.trend__content .section-title h4:after {
    bottom: -6px;
}

.trend__item {
    overflow: hidden;
    margin-bottom: 35px;
}

.trend__item__pic {
    float: left;
    margin-right: 25px;
}

.trend__item__text {
    overflow: hidden;
}

.trend__item__text h6 {
    font-size: 14px;
    color: #111111;
    margin-bottom: 5px;
}

.trend__item__text .rating {
    line-height: 18px;
    margin-bottom: 6px;
}

.trend__item__text .rating i {
    font-size: 10px;
    color: #e3c01c;
    margin-right: -4px;
}

.trend__item__text .rating i:last-child {
    margin-right: 0;
}

.trend__item__text .product__price {
    color: #111111;
    font-weight: 600;
}

.trend__item__text .product__price span {
    font-size: 14px;
    color: #b1b0b0;
    text-decoration: line-through;
    margin-left: 4px;
}

.section-title {
    margin-bottom: 45px;
}

.section-title h4 {
    color: #111111;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
}

.section-title h4:after {
    position: absolute;
    left: 0;
    bottom: -4px;
    height: 2px;
    width: 70px;
    background: #ca1515;
    content: "";
}

.set-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.spad {
    padding-top: 100px;
    padding-bottom: 100px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
    color: #fff;
}

li:hover a {
    /* background: #ca1515; */
    color: white;
    background: red;
}

.
/*---------------------
  Banner
-----------------------*/

.banner {
    height: 500px;
}

.banner__text span {
    font-size: 18px;
    color: #ca1515;
    text-transform: uppercase;
}

.banner__text h1 {
    font-size: 80px;
    color: #111111;
    font-family: "Cookie", cursive;
    margin-bottom: 15px;
}

.banner__text a {
    font-size: 14px;
    color: #111111;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    padding: 0 0 3px;
    display: inline-block;
}

.banner__text a:after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: #ca1515;
    content: "";
}

.banner__slider {
    text-align: center;
    padding: 150px 0 0;
}

.banner__slider.owl-carousel .owl-dots {
    position: absolute;
    left: 0;
    top: 430px;
    width: 100%;
    text-align: center;
}

.banner__slider.owl-carousel .owl-dots button {
    height: 12px;
    width: 12px;
    background: #a1a1a1;
    border-radius: 50%;
    margin-right: 10px;
}

.banner__slider.owl-carousel .owl-dots button.active {
    background: #ca1515;
}

.banner__slider.owl-carousel .owl-dots button:last-child {
    margin-right: 0;
}


/*---------------------
.set-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}